body{
    background-color: black;
}
h1{
    text-align: center;
    font-size: 5rem;
    color: chartreuse;
}

#alpha{
    text-transform: uppercase;
    border: 10px solid greenyellow;
}

#enter {
    text-transform: uppercase;
    border: 10px solid greenyellow;
    
}

li {
    text-align: center;
    list-style: none;
    text-transform: uppercase;
    font-style: bold;
    font-size: 3rem;
    color: rgba(160, 206, 9, 0.817);
    line-height: 170%;
}
